.img2 {
    position: relative;
    background-image: url("./images/page2Background.jpg");
    min-height: 100vh;
    max-height: 600vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    z-index: 0;
}

.do2 {
    background-color: #23015ab0;
    color: white;
  }
  
  .do3 {
    background-color: #23015ab0;
    color: white;
  }