.img3 {
    position: relative;
    background-image: url("./images/contactBackground.jpg");
    min-height: 100vh;
    max-height: 200vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    z-index: 0;
}


.contact-overlay {
    background: #0000004d;
    
    
}

.contactLabel{
    background: #0000004d;
}

.do3 {
    margin-top: 15%;
    left: 0;
    top: 1%;
    width: 100%;
    text-align: center;
    
  }

.contactImg{
    margin-top: 5rem;
    margin: 5rem;
    width: 10%;
    z-index: +1;
}

.contactImg:hover{
    margin-top: 5rem;
    margin: 5rem;
    width: 20%;
}

.animate{
    animation: sent 5s;
}

@keyframes sent{
    0% {background-color: white;}

    100%{background-color: black;}

}