
.navbar{
    background-color: #23015ab0 !important;
    width: 100vw;
    position: fixed;
    margin-top: 3rem;
    z-index: +1;
}
  
.navbar-brand {
    color: #ffffff !important;
}
  
.navbar-toggler {
    color: #ffffff !important;
    background-color: #ffffff80;
}
  
.navbar-collapse {
    color: white !important;
    background-color: #ffffff80;
    text-align: center;
}